[Unit]
Description=KubeArmor

[Service]
User=root
KillMode=process
EnvironmentFile=/etc/sysconfig/kubearmor.conf
ExecStart=/usr/local/bin/kubearmor -logPath=/tmp/kubearmor.log -enableKubeArmorHostPolicy=$ENABLE_HOST_POLICY

[Install]
WantedBy=multi-user.target

